#img{
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
section{
  text-align: center;
  padding-left: 4px;
}
#tex1{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}body{
    background-image: linear-gradient(to left, rgba(88, 88, 88, 0.514),#DB1A00);
}
img{
  border-radius: 10px;
  
}
#h1{
  text-align: center;
}

